$main-color: #f4623a;
$main-color-alt: #cf5331;

%after-line {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
}

%desc-sentence {
  color: rgba(255, 255, 255, 0.7);
}

%font-family {
  font-family: "Times New Roman", Times, serif;
}

%btn {
  font-size: 13.5px;
  padding: 18px 36px;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

// Landing
.landing {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(../img/bg-masthead.jpg);
  background-size: cover;
  background-position: center center;
  nav ul {
    font-size: 15px;
  }
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
    }
  }
  // Intro
  .content {
    max-width: 680px;
    margin: 0 auto;
    padding: 100px 0;
    h1 {
      font-size: 3.4rem;
      position: relative;
      &::after {
        @extend %after-line;
        background-color: $main-color;
      }
    }
    p {
      @extend %desc-sentence, %font-family;
      font-size: 22px;
    }
    button {
      @extend %btn;
      background-color: $main-color;
      transition: background-color 0.3s;
      &:hover {
        background-color: $main-color-alt;
      }
    }
  }
}

// Need
.need {
  background-color: $main-color;
  .content {
    max-width: 690px;
    margin: 0 auto;
  }
  h2 {
    position: relative;
    &::after {
      @extend %after-line;
      background-color: #fff;
    }
  }

  p {
    @extend %desc-sentence, %font-family;
    font-size: 20px;
  }

  button {
    @extend %btn;
    background-color: #fff;
    &:hover {
      background-color: #fff;
    }
  }
}

// Service
.service {
  h2 {
    position: relative;
    &::after {
      @extend %after-line;
      background-color: $main-color;
    }
  }
  .row .box {
    text-align: center;
    svg {
      color: $main-color;
      margin: 25px 0 20px;
      font-size: 2.5rem;
    }
    .text {
      @extend %font-family;
      font-size: 21px;
      line-height: 1.3;
      color: #6c757d;
    }
  }
}
